.header {
  padding: 3rem;
  background: #eaded7;
  color: brown;
  font-size: 1.5rem;
}
.header .headerProducts {
  color: #641e1e;
}
.sortingsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.line {
  border: 1px solid #9b6b6b;
  width: 51%;
}
.filtersProducts {
  display: flex;
  width: 95%;
  margin: 2rem auto;
}
.fiters {
  width: 20%;
}
.sortingProducts {
  width: 89%;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 1.5rem;
}
.images {
  width: 278px;
  object-fit: cover;
  height: 208px;
}
.imgIcon {
  position: relative;
}

.imgIcon:hover {
  filter: brightness(50%);
  transition: all 0.3s linear;
}
.onSelecting {
  position: absolute;
  top: 41%;
  left: 43%;
  font-size: 2.4rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  padding: 4px;
}
.namePrice {
  display: flex;
  justify-content: space-between;
  width: 278px;
}
.price {
  color: rgb(160, 89, 77);
}
.filters {
  position: sticky;
  top: 0;
}
.filters > * {
  margin: 15px 0;
}
.searchBar{
  font-size: 16px;
  background: #dedfdf;
  padding: 3px;
}
.category > * {
  margin: 10px 0;
}
.category :hover {
  color: #0a365a;
  cursor: pointer;
}
.category :visited {
  text-decoration: underline;
}
.cardForm {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.4rem;
  margin-bottom: 1.3rem;
}
.cardForm .images:hover {
  filter: none;
  transition: none;
}
.about > * {
  margin-bottom: 1rem;
}
.bottomUnderline {
  border-bottom: 1px solid;
  width: 30%;
}
