.actionBtn {
  color: white;
  background-color: #ab7a5f;
  padding: 10px 18px;
  border: none;
  border-radius: 3px;
}
.actionBtn:hover{
  background-color: rgb(230, 213, 213);
  color: #ab7a5f;
  transition:  linear all 0.3s;
  cursor: pointer;
}
.price{
  color: rgb(160, 89, 77);
}
.underline{
  text-decoration: underline;
}
.emptyCartPage{
  text-align: center;
  margin: 11rem 0 24rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
img{
  border-radius: 10px;
}